<h1>Obiettivi e traguardi dello sviluppo sostenibile</h1>

<h2>Obiettivo di sviluppo sostenibile Nº2: Zero fame nel mondo.</h2>

<h3>Obiettivo principale: </h3>
<ul>
  <li>Porre fine alla fame, garantire la sicurezza alimentare, migliorare la nutrizione e promuovere un'agricoltura sostenibile.</li>
</ul>

<h3>Scadenza e obiettivi da rispettare:</h3>
<ul>
  <li>Entro il 2030, bisogna porre fine alla fame nel mondo e garantire accesso al cibo a tutte le persone,
    soprattutto i poveri e le persone in situazioni vulnerabili, per l’intero anno.</li>
  <li>Entro il 2030, porre fine a tutte le forme di malnutrizione e raddoppiare la produttività agricola dei piccoli produttori.</li>
  <li>Entro il 2030, garantire sistemi di produzione alimentare sostenibili e rafforzare la resistenza ai cambiamenti climatici che possono distruggere le produzioni.</li>
</ul>

<h2>Introduzione:</h2>
<p>La fame del mondo è un argomento che viene spesso discusso da molto tempo.
Il problema ha origine da come le risorse vengano sfruttate, per esempio la FAO(Food and Agriculture Organization) si occupa di risolvere il problema anche proponendo soluzioni ai governi.
Il cibo è essenziale per la vita umana. In Europa, come anche negli Stati Uniti, oggi non conosciamo la fame come in alcuni paesi del Terzo mondo e molte volte si coltiva un solo tipo di prodotto nelle varie aree del territorio.
Abbiamo scelto questo argomento perché pensiamo che tale obiettivo dovrebbe essere raggiunto poiché la fame del mondo sta ancora crescendo e non cesserà se non si interviene drasticamente.
Oltre a questo perché vogliamo dimostrare alle persone che questa è una problematica gravissima, che uccide migliaia di persone ogni giorno.</p>

<h3>Cinque passi per raggiungere obiettivo:</h3>
<ol>
  <li>Per poter realizzare questo obiettivo, i governi dovrebbero proteggere i più vulnerabili</li>
  <li>Inoltre è importante che ci sia cibo salutare e nutriente per tutti, migliorando le varie infrastrutture rurali, nello specifico le strade,
    i depositi, i sistemi elettrici per aiutare gli agricoltori a raggiungere più consumatori.</li>
  <li>Lo spreco di cibo continua a essere un enorme problema perché spesso nei paesi sviluppati, i prodotti alimentari
    vengono sprecati quando arrivano sulle nostre tavole(fine della catena di produzione), al contrario nei paesi del Terzo mondo i prodotti
    vengono persi quando i raccolti marciscono o vengono lasciati da soli per colpa dei sistemi di immagazzinamento(prime fasi di produzione).</li>
  <li>Bisogna aiutare gli agricoltori a considerare una maggiore varietà di colture rispetto alle quattro più comuni (grano, mais, riso e soia).
    Ricordando anche di superare le sfide imposte dal cambiamento climatico e dalla disponibilità del cibo.</li>
  <li>Molti bambini non hanno la giusta nutrizione e non possono crescere in modo adeguato. Perciò bisogna seguirli nei loro primi due anni di vita e garantire alle madri e
    a loro accesso ai cibi nutrienti utili alla crescita del bambino</li>
</ol>

<h4>Attenzione!</h4>
<p>La malnutrizione e la denutrizione non vanno confuse.
La malnutrizione è quella condizione che non soddisfa o, addirittura esagera, i bisogni qualitativi e quantitativi di nutrienti. Una dimensione mal equilibrata, che compromette la salute dell’uomo, può aver origine da sottoalimentazione,
da sovralimentazione, da carenze nutrizionali, da cattiva assimilazione degli alimenti provocata da varie malattie.
La denutrizione viene indicata come una nutrizione insufficiente, protratta per lungo tempo, causata dalla mancanza del corretto apporto proteico ed energetico, o anche delle vitamine e dei minerali necessari all'organismo per l'utilizzazione dei fattori nutritivi contenuti negli alimenti assunti.
</p>

<h2>Le principali cause della denutrizione e malnutrizione nel mondo sono:</h2>

<ul>
  <li>Bassa produttività dell’agricoltura</li>
  <ul>
    <li>In questi paesi è infatti diffusa la monocultura, cioè la coltura di uno stesso prodotto in vaste aree di territorio.</li>
  </ul>

  <li>Eccessiva espansione demografica</li>
  <ul>
    <li>Perché ciò che prima veniva prodotto in una certa quantità ed era sufficiente per sfamare la popolazione, con l’aumento della popolazione non basta più per sfamare tutti.</li>
  </ul>

  <li>Deforestazione, desertificazione ed effetto serra</li>
  <ul>
    <li>Questi problemi rendono il terreno poco fertile e quindi incoltivabile.</li>
  </ul>

  <li>Analfabetismo</li>
  <ul>
    <li>L’analfabetismo, che è molto diffuso in queste zone, provoca la mancanza di tecnici ed operai specializzati, la cui attività è collegata allo sviluppo di questi paesi.</li>
  </ul>

  <li>Colonizzazione</li>
  <ul>
    <li>Perché è proprio questo il motivo per cui molti paesi hanno prodotto solo prodotti per l’esportazione (tabacco ecc.) e non prodotti per l’alimentazione.</li>
  </ul>

  <li>Dipendenza dai paesi ricchi</li>
  <ul>
    <li>É necessaria l’indipendenza e l’autonomia dei paesi poveri, perché per quanto i paesi ricchi li possano aiutare, il loro aiuto economico non sarà mai abbastanza per sfamare tutta la popolazione.</li>
  </ul>

  <li>Mancanza di industrie</li>
  <ul>
    <li>La ridotta quantità di industrie non favorisce lo sviluppo di risorse produttive.</li>
  </ul>

  <li>Industrie a vantaggio di altri paesi</li>
  <ul>
    <li>Molto spesso lavorano esclusivamente per l’esportazione e sono di proprietà di gruppi imprenditoriali e finanziari internazionali (le multinazionali).</li>
  </ul>

  <li>Mal distribuzione delle risorse</li>
  <ul>
    <li>Le risorse mondiali che si posseggono sono mal distribuite, infatti di queste ultime ne godono solamente i paesi ricchi.</li>
  </ul>
</ul>

<h2>Malnutrizione e denutrizione durante il COVID-19</h2>
<p>
Durante questo periodo il tasso di malnutrizione e denutrizione è destinato ad aumentare. La Banca Mondiale sta utilizzando il COVID-19 National Longitudinal Phone Survey 2020 per monitorare l'insicurezza alimentare in diversi paesi.
Il numero di famiglie nigeriane che subiscono le forme più gravi di denutrizione e malnutrizione è aumentata notevolmente.
Nel 2018, circa il 14% delle famiglie ha dichiarato di non mangiare un'intera giornata. Nel giugno 2020, il 35% lo ha fatto.
Nel 2018, un terzo delle famiglie ha riferito di non soffrire di denutrizione e/o malnutrizione mentre durante la pandemia COVID-19 lo fece solo un decimo delle famiglie.
</p>

<a class="btn btn-info" [routerLink]="['/cereali']">Visual cereal</a>
<a class="btn btn-info" [routerLink]="['/foodSec']">Visual food security</a>
<a class="btn btn-info" [routerLink]="['/under']">Visual undernourishment</a>
