<h1>Site World Data Bank - Goal 2</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <form class="form-inline">
    <a class="btn btn-info ml-1 mr-1" routerLink="/relazione" routerLinkActive="active">Per visualizzare la relazione</a>
    <a class="btn btn-info ml-1 mr-1" routerLink="/cereali" routerLinkActive="active">Visual cereal</a>
    <a class="btn btn-info ml-1 mr-1" routerLink="/foodSec" routerLinkActive="active">Visual food security</a>
    <a class="btn btn-info ml-1 mr-1" routerLink="/under" routerLinkActive="active">Visual undernourishment</a>
  </form>
</nav>
<router-outlet></router-outlet>
